@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply h-full overflow-x-hidden dark:text-slate-300 text-slate-600 font-normal;
    &.light,
    &.skin--default {
      @apply bg-slate-100;
    }
    &.lght,
    &.skin--bordered {
      @apply bg-transparent;
    }
    &.dark {
      @apply bg-[#e31e24] text-slate-300;
    }
  }
  html,
  body {
    @apply h-full;
  }

  .Scooton-app-wrapper {
    @apply relative;
  }
  .single-sidebar-menu .ReactCollapse--collapse {
    transition: height 400ms;
  }
  .space-xy-5 {
    > div,
    > button,
    > a,
    label,
    > * {
      @apply mr-2 mb-2;
    }
  }
  .space-xy-6 {
    > div,
    > button,
    > a,
    label,
    > * {
      @apply mr-4 mb-2;
    }
  }

  html[dir="rtl"] {
    .recharts-wrapper {
      direction: rtl;
    }
    .recharts-yAxis {
      .recharts-text {
        text-anchor: start;
      }
    }
  }
  .Scooton-app {
    .leaflet-control {
      z-index: 0 !important;
    }
    .leaflet-control-container {
      z-index: 555 !important;
      position: relative;
    }
    .recharts-curve.recharts-tooltip-cursor {
      display: none;
    }
    .recharts-wrapper.bar-chart {
      .recharts-tooltip-cursor {
        fill: transparent;
      }
    }
    .recharts-tooltip-wrapper {
      border: none !important;
    }

    // .recharts-cartesian-grid line,
    // .recharts-polar-grid-angle line,
    // .recharts-yAxis line,
    // .recharts-xAxis line {
    //   @apply stroke-black-200 dark:stroke-slate-700;
    // }
  }
}
@layer components {
  @import "components/table.scss";
  @import "components/map.scss";
  @import "components/progress";
  @import "components/tippy";
  @import "components/swiper";
  @import "components/alert";
  @import "components/card";
  @import "components/auth";
  @import "components/button";
  @import "components/badge";
  @import "components/typography";
  @import "components/form";
  @import "components/input-group";
  @import "components/react-select";
  @import "components/pagination";
  @import "components/breadcrumbs";
  @import "layout/header";
  @import "layout/footer";
  @import "layout/sidebar";
  @import "layout/settings";
  @import "utility/mix";
  @import "utility/loading";
  @import "utility/css-animation";
  @import "utility/calander";
  @import "utility/full-calender";
  @import "components/print.scss";
}
@layer utilities {
}
@media (min-width:768px){
  .btn {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

:root{
  --primary: #0d55ea;
}
.bg-warning-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(255 193 7 / 19%);
}
.btn:hover{background-color: #000;outline: 0; border-color: #000;box-shadow: none;}
.btn-primary{ background-color: var(--primary);}
.react-tabs__tab-list{border-bottom: none;
  text-align: center;
  margin: 2rem 0;
  background-color: #fff;
  box-shadow: 0 0 10px #ccc;
  padding: .5rem;
  border-radius: .5rem;
  display: flex;gap:10px;
}
.react-tabs__tab {
  display: inline-block;
  border: 1px solid #e31e24;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 8px 24px;
  cursor: pointer;
  border-radius: .5rem;
  flex: 1;
}

.react-tabs__tab.react-tabs__tab--selected {
  background: #e31e24;
  border-color: #e31e24;
  color: #fff;
}

.common-box-shadow {
  border: 1px solid #f3f3f5;
  padding: 1.5rem;
  border-radius: .5rem;margin-bottom: 4rem;
}

.change-rider-status{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: #76838f;
}
.card-header{background-color: transparent;}

.documentreason{
    border: 1px solid #dee2e6;
    padding: .5rem
}

.wallets{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
table thead th{background-color: #f1f1f1;}
table thead th:first-child {width: 130px;}
.table-td, .table-th{padding-top: 1rem;padding-bottom: 1rem;}
.backdrop-filter {backdrop-filter: blur(4px);background-color: #00000073;}
.onOff-riders>div {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.onOff-riders { display: flex; align-items: center;gap: 14px;}
.onOff-riders>div>span {
  width: 10px;
  height: 10px;
  background-color: #ffa560;
  border-radius: 50%;
  margin-right: .5rem;line-height: normal;
}
.onOff-riders>div.online>span{background-color: green;}
.onOff-riders>div.offline>span{background-color: red;}
.rider-status{flex: 1;}
.rider-filter{display: flex;gap:10px;}
.rider-filter>div{flex:1;}
.flex-1{flex:1;}
.MuiInputBase-formControl{height: 45px;}
.filter-orderlist {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}
.filter-orderlist .css-13lvt8g-MuiButtonBase-root-MuiRadio-root + .MuiTypography-root{
  padding: .5rem 1rem;border-radius: .5rem;
}
.filter-orderlist .css-13lvt8g-MuiButtonBase-root-MuiRadio-root.Mui-checked + .MuiTypography-root {
  background-color: #e31e24;
  color: #fff;
}
.filter-orderlist .css-13lvt8g-MuiButtonBase-root-MuiRadio-root {
  display: none;
}
.filter-orderlist .css-19opgx6-MuiFormControlLabel-root+.css-19opgx6-MuiFormControlLabel-root { 
  margin-right: .5rem; margin-left: .5rem;
}
.filter-orderlist .css-19opgx6-MuiFormControlLabel-root{margin-left: 0;}
.filter-orderlist .MuiFormControl-root.css-1iw3t7y-MuiFormControl-root {
  box-shadow: 0px 0px 18px #ccc; padding: .5rem 1rem;border-radius: .5rem;
}
.change-rider-status>div>div>label {flex: 1;}
.change-rider-status>div>div {font-size: .875rem;  margin-bottom: .5em;}
.change-rider-status>div>div>div>label>div{width:38px;height: 16px;}
.change-rider-status>div>div>div>label>div>span{width:12px;height: 12px;--tw-translate-x:1.3rem}
.mobile-view{display: none;}


@media (max-width:991px){
  .desktop-view-filter{display: none;}
  .mobile-view{display: flex;}
}